@media only screen and (max-width:926px) {
    /* .container{
        height: 150vh;
    } */
    .div3 {
        flex-direction: column;
    }
    .logo-img {
        display: inherit;
    }
    .nav-links-desktop {
        display: none;
    }
    .container {
        /* width: 100vw; */
    }
    .footer-content {
        flex-direction: column;
        max-width: 1500px;
        display: flex;
        justify-content: space-between;
        text-align: justify;
    }
    .c2 {
        height: auto;
        padding: 20px 0 20px 0;
    }
    .c2 .div2 {
        width: 70%;
    }
    .nav-link-dropdown-show {
        width: 200px;
        border-radius: 10px;
        background-color: white;
        padding: 20px;
        position: absolute;
        display: none;
        flex-direction: column;
        gap: 12px;
        margin: 0px 30px 0 0;
    }
    .nav-link-dropdown-show p:hover{
        color:gray;
    }
}