:root{
    --bg-body:#fffefc;
    --bg-container:#dedede;
    --nav-links-color:#000000;
    --nav-links-color-hover:#443737;
    --p-color:#5d5d5d;
    --h5-color:red;
    --container-h1-color:black;
    --color-span:red;
    --footer-a-text-color:#5d5d5d;
    --p-text-color-footer:#5d5d5d;
    --text-color:#5d5d5d;
    --footer-bg-color:#dedede;
    --footer-h1-text-color:black;
    --logo-color:#000000;
    --footer-a-text-color-hover:white;
    
}   