:root{
    --bg-body:#11052C;
    --bg-container:;
    --nav-links-color:#3D087B;
    --nav-links-color-hover:#f8b600d3;
    --p-color:#F43B86;
    --h5-color:red;
    --container-h1-color:black;
    --color-span:red;
    --footer-a-text-color:blue;
    --p-text-color-footer:blue;
    --text-color:#FFE459;
    --footer-bg-color:#dedede;
    --logo-color:red;
    --footer-a-text-color-hover:white;
    
}   